@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
  }
}

.hand-card {
  position: relative;
  top: 100px;
  left: 100px;
  --card-width: 300px;
  width: var(--card-width);
  aspect-ratio: 6 / 8.5;
  background-color: transparent;
  transition-duration: 0.4s;
  transition-property: transform;
  box-shadow: 0px 0px 30px 0px transparent;

  font-family: "Kreon", serif;
  font-weight: 600;
  color: #F9FAF5;
}

.hand-card:hover {
  border-radius: 10px;
  box-shadow: 0px 0px 30px 0px var(--hover-color);
  transform: scale(1.05);
  z-index: 100;
}

.hand-card__frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-image: url('/images/red_frame.webp');
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: inherit;
  background-size: contain;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  z-index: 1;
}


.hand-card__border {
  position: absolute;
  top: -10%;
  left: 2.5%;
  width: 95%;
  aspect-ratio: inherit;
  background-image: url('/images/red_border.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: 3;
}

.hand-card__banner {
  position: relative;
  top: 0;
  left: -5%;
  width: 110%;
  height: 20%;
  background-image: url('/images/red_banner.webp');
  background-repeat: no-repeat;
  background-size: contain;

  z-index: 4;
}

.hand-card__nameplate {
  height: 65%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-card__name {
  width: 100%;

  font-size: calc(var(--card-width) * 0.085);
  text-shadow:
    -2px -2px 0 #595959, 2px -2px 0 #595959, -2px 2px 0 #595959, 2px 2px 0 #595959,
    -2px 0px 0 #595959, 2px 0px 0 #595959, 0px -2px 0 #595959, 0px 2px 0 #595959;
  text-align: center;

  z-index: 5;
}

.hand-card__portrait {
  position: absolute;
  top: -10%;
  left: 2.5%;
  width: 95%;
  aspect-ratio: 6 / 8.5;
  background-image: url('/images/goblin.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  z-index: 0;
}

.hand-card__plaque {
  position: absolute;
  transform: translate(115%, 70%);
  width: 30%;

  aspect-ratio: 6 / 8.5;
  background-image: url('/images/red_plaque.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 6;
}

.hand-card__stats {
  font-size: calc(var(--card-width) * 0.08);

  text-shadow:
    -2px -2px 0 #595959, 2px -2px 0 #595959, -2px 2px 0 #595959, 2px 2px 0 #595959,
    -2px 0px 0 #595959, 2px 0px 0 #595959, 0px -2px 0 #595959, 0px 2px 0 #595959;
  font-weight: bold;

  text-align: center;
  width: 100%;

  z-index: 7;
}

.hand-card__effect-box {
  width: 100%;
  height: 30%;
  margin-bottom: 40px;
  box-sizing: border-box;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-card__effect-text {
  font-size: calc(var(--card-width) * 0.07);
  z-index: 7;
  text-align: center;
  width: 80%;
}


.hand-card__mana {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;


  transform: translate(-30%, -30%);
  z-index: 8;
  aspect-ratio: 6 / 8.5;
  background-image: url('/images/mana.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hand-card__mana-cost {
  font-size: calc(var(--card-width) * 0.1);
  font-weight: bold;

  text-shadow:
    -2px -2px 0 #595959, 2px -2px 0 #595959, -2px 2px 0 #595959, 2px 2px 0 #595959,
    -2px 0px 0 #595959, 2px 0px 0 #595959, 0px -2px 0 #595959, 0px 2px 0 #595959;

  text-align: center;
  width: 80%;

  z-index: 7;
}

#hand {
  position: absolute;
  bottom: 200px;
  /* hand usually docks to the bottom */
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
}